<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
      <h1><strong>Call Of Duty: Ghost</strong></h1>
      <h2>Sign in</h2>
    
    <div class="mainbox">
        
          <mat-form-field id="email" appearance="fill">
            <mat-label>Email ID</mat-label>
            <input matInput placeholder="Ex: kangaroo34@gmail.com" required>
          </mat-form-field>

          <mat-form-field id="pass" >
            <mat-label> Password </mat-label>
            <input matInput type="password" placeholder="Type your password" required> 
          </mat-form-field>

          <a mat-stroked-button href="#" id="forgot" >Forgot Password</a>
          
          <mat-slide-toggle id="remember">Remember me</mat-slide-toggle>

          <button id="login" mat-raised-button color="warn">Log In</button>

          <hr>
          <p class="or">OR</p>
          <a mat-stroked-button href="http://localhost:4200/signup" id="newacc" >Click here to create a new account</a>




          
        
    
    </div>
    
    

</body>
<p id="end">COD:Ghost Corporation @2023</p>




</html>